<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{mensaje}}</h1>
        <span v-bind:title="mensaje">
            Mueva el mouse.
        </span>
        <span v-if="seen">Now you see me.</span>
        <div>
            <ol>
                <li v-for="fruta in frutas">
                    {{fruta.nombre}} ${{fruta.precio}}/kg - {{frutas.cantidad}}
                </li>
            </ol>
            <input type="text" placeholder="Nuevo producto"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/script3.js"></script>
</body>
</html>